<a href="https://colab.research.google.com/github/aryadeo/python_basics/blob/master/basics_of_set%2C_tuples%2C_disctionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Date: 16th October, 2019
This notebook will demonstrate the basics of tuples, sets and dictionary datatypes in pyhton.
#Tuples
Tuples are similar to list. The only difference between them is that the elements in tuples are immutable. i.e. you can not directly change the elements by assigning a new value to it, which is however possible in case of list.

Lets look into it.

In [0]:
a=list(range(10))
print('created test list=',a)

b=tuple(range(10))
print('created test tuple=',b)

created test list= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
created test tuple= (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

After looking at the output, you can see that tuples are enclosed by nparanthesis.

In [0]:
# lets try the changing of element
a[3]=12
print('modified list is=',a)

modified list is= [0, 1, 2, 12, 4, 5, 6, 7, 8, 9]

In [0]:
b[3]=12
print('modified tuple is=',b)

The error shows that tuple doses not support item assignment.

But what is the benifit in this? Let's check in the below example.

In [0]:
import time
tic=time.time()
test_list=list(range(1000000))
test_list_2=list(map(lambda x:x**2, test_list))
toc=time.time()
elapsed_time=toc-tic
print('elapsed time=',elapsed_time)

elapsed time= 0.4508364200592041

NOw lets do the same by using a tuple.

In [0]:
import time
tic=time.time()
test_tuple=tuple(range(1000000))
test_tuple_2=tuple(map(lambda x:x**2, test_tuple))
toc=time.time()
elapsed_time=toc-tic
print('elapsed time=',elapsed_time)

elapsed time= 0.4346659183502197

It can be observed that the exection time required for the computation by taking the variable in a tuple is less in comparison to taking them as a list. This is due to the immutability property of the tuple data type.

#Set
Set are similar to list. The only difference is that it treates all the repeated elements in a list as a single element.

From high school study, we know that, Sets do contain the number distint samples present in acollection.

In [0]:
a=list(range(10))
print('created list=',a)
#lets append a number already present in the list.
a.append(5)
print('modified list=',a)

created list= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
modified list= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 5]

Now lets check the same in a set.

In [0]:
#lets create a set from this modified list. The diffrence can be noticed at the output.
b=set(a)
print(type(b))
print('created set is=',b)

<class 'set'>
created set is= {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

Lets chack another difference between set and list. Let's repeat the same experiment.

In [0]:
import time
tic=time.time()
test_list=list(range(1000000))
print(23333 in test_list)
print(100000 in test_list)
print(9999999999 in test_list)
toc=time.time()
print('elapsed time=',toc-tic)

True
True
False
elapsed time= 0.08337593078613281

Now let's repeat the same by using a set.

In [0]:
import time
tic=time.time()
test_set=set(range(1000000))
print(23333 in test_set)
print(100000 in test_set)
print(9999999999 in test_set)
toc=time.time()
print('elapsed time=',toc-tic)

True
True
False
elapsed time= 0.09675288200378418

#Dictionary
This data type conatins a header for every element present.
Header are termed as "key".
lements are termed as 'value'

Lets explore.

In [0]:
test_dict={}
type(test_dict)
test_dict['purpose']='demonstartion'
test_dict['element']=300
test_dict['boolean element']= False
print(test_dict)

{'purpose': 'demonstartion', 'element': 300, 'boolean element': False}

In [0]:
test_dict['purpose']
test_dict['boolean element']

False

In [0]:
print(test_dict.keys())#syntax to print the keys
print(test_dict.values())#syntax to print the values
print(test_dict.items())#alternate way of representation
#alternate way

for key in test_dict.keys():
  print(test_dict[key],'is the value stored in ',key)

dict_keys(['purpose', 'element', 'boolean element'])
dict_values(['demonstartion', 300, False])
dict_items([('purpose', 'demonstartion'), ('element', 300), ('boolean element', False)])
demonstartion is the value stored in  purpose
300 is the value stored in  element
False is the value stored in  boolean element