<a href="https://colab.research.google.com/github/aryadeo/python_basics/blob/master/string_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Date:18.10.19
#String Data Type
Here we will see the following.
1. basic string input
2. splitting
3. Relational operation on string
4. Membership operation
5. Numerical operation on string

#basic string

In [0]:
a='its a demo notebook'
a_1='''this is just
 for basics'''
a_2=""" lets go
 through"""
print(a)
print(a_1)
print(a_2)
print('length of first string is:', len(a)) #string length=num of characters + <spaces included>

In [0]:
print('Please type your name')
b=input('Your name is:')
print('length of your name string is:',len(b))

In [0]:
#all the characters in a string are indexed.
for i in range(len(b)):
  print(b[i])

In [0]:
b_upper=b.upper()
b_lower=b.lower()
print(b_upper,'',b_lower)

In [0]:
#by converting a string into list you can perform the lsit operations.
b_list=list(b)
print(b_list)

#Splitting

In [0]:
print(b[1:5])
print(b[:13])
print(b[:14])
print(b[:24])
print(b[:-1])
print(b[1:-1])
print(b[:])

In [0]:
test_str='I,am,preparing,a,demo,notebook'
print(test_str.split(','))

In [0]:
print(b.split(' ')) #here the eneterd separator is <space>

#Relational Operation
it compares the corresponding ascii values of a string.

*   ASCII values for A is 65, for B is 66 and so on
*   ASCII value for a is 97, for b is 98 and so on

In [0]:
a_str='arya'
A_str='ARYA'
print(a_str>A_str)
print(A_str>a_str)

#Membership Operation

In [0]:
a_test='this is a demo notebook'
a_test_1='demo'
print(a_test_1 in a_test)
print('notebook' in a_test)
print('notebook' not in a_test)

#Numerical Operation

In [0]:
a_test_2=a_test + a_test_1
print(a_test_2)

In [0]:
a_test_3=a_test*2
print(a_test_3)

In [0]:
#it will show error
print(a_test - a_test_1)